
<app-navbar></app-navbar>
  <div class="container" [ngClass]="{'vh-100': photos.length <= 7}">
    <h1 class="pt-3 text-center">{{ album.albumName }}</h1>
    <button class="btn btn-danger d-flex ms-auto" (click)="deleteAlbum()">Delete Album</button>
    <div class="photo-grid justify-content-center">
        <div class="photo-item m-3">
          <i class="plus-icon d-flex align-items-center justify-content-center" (click)="fileInput.click()">+</i>
          <input type="file" (change)="onFileChange($event)" #fileInput style="display: none;" />
        </div>
     
      <div class="photo item pt-2 m-auto" *ngFor="let photo of photos">
        <a>
          <img [src]="photo.photoImageURL" class="img-fluid smaller-image">
        </a>
      </div>
  </div>
  </div>
<app-footer></app-footer>
