<body>
    <div class="row pt-5 pe-5 ps-5 justify-content-center">
        <div class="col-7 d-block p-3 custom-div d-none d-lg-flex d-flex flex-column  text-center">

            <div class="card mb-3 mt-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle me-2" width="47" height="47" src="/assets/images/bg.jpg"
                                    alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">
                                    <a (click)="goToOtherProfile()" style="cursor: pointer;">{{ post.poster?.firstName + " " + post.poster?.lastName }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown">
                            <i class="fa-regular fa-clock" style="color: #000000;"></i> {{post.datePosted! | timeDifference}}
                            <button *ngIf="post.poster?.id === userId" class="ms-2 p-1 btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis" style="color: #000000;"></i>
                            </button>
                            <div *ngIf="post.poster?.id === userId" class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                <a class="dropdown-item">Edit</a>
                                <a class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">{{post.postTitle}}</h5>

                    <p class="card-text">
                        {{ post.postBody }}
                    </p>

                    <div class="d-flex justify-content-center">
                        <img *ngIf="photoUrl" [src]="photoUrl" alt="" class="img-fluid">
                    </div>
                    <div class="d-flex">
                        <!-- Add the 'data-bs-toggle' and 'data-bs-target' attributes for the modal -->
                        <span id="likes-count" class="me-auto text-body text-opacity-50 text-decoration-none"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{likedByString}}" [hidden]="usersLiked.length == 0">
                            <span class="text-body text-opacity-50" id="likes-count" style="cursor: pointer;" (click)="openLikesModal()" data-bs-toggle="modal" data-bs-target="#likesModal"> {{usersLiked.length}} Likes</span>
                        </span>
                        <span  id="comments-count" class="ms-auto text-body text-opacity-50 text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="left" title="Comments on {{ post.postTitle }}" [hidden]="comments.length == 0">
                            <span class="text-body text-opacity-50" id="comments-count">
                                {{comments.length}} Comments
                            </span>
                        </span>
                    </div>
                </div>

                <div class="post-method">
                    <hr class="mb-1 opacity-1" />
                    <div class="row text-center fw-bold">
                        <div class="col">
                            <a class="text-body text-opacity-50 text-decoration-none d-block p-2" style="cursor: pointer;"(click)="likePost()"> <i
                                    class="fa fa-thumbs-up me-1 d-block d-sm-inline" [class.text-primary]="isCurrentPostLiked"></i> {{isCurrentPostLiked? 'Unlike' : 'Like'}} </a>
                        </div>
                        <div class="col">
                            <a class="text-body text-opacity-50 text-decoration-none d-block p-2" (click)="openCommentsModal()" style="cursor:pointer;"> <i
                                    class="fa fa-comment me-1 d-block d-sm-inline"></i> Comment </a>
                        </div>
                    </div>
                    <hr class="mb-1 mt-1 opacity-1" />
                </div>

                <div class="d-flex align-items-center m-3">
                    <img [src]="postPhotoUrl" alt="" width="40" height="40" class="rounded-circle" />
                    <div class="flex-fill ps-2">
                        <div class="position-relative d-flex align-items-center">
                            <input type="text" class="form-control rounded-pill bg-white bg-opacity-15"
                                style="padding-right: 120px;" placeholder="Write a comment..." (keyup.enter)="commentPost()" [(ngModel)] = "comment" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 d-block p-3 custom-div d-none d-lg-flex flex-row">
            <div class="card py-3 pe-2">
                <div class="d-flex my-1 mx-3">
                    <div *ngIf="comments.length === 0" class="m-3">
                        <h5>No comments available.</h5>
                    </div>
                    <div *ngFor="let comment of comments" class="m-3">
                        <div class="d-flex align-items-start">
                            <img [src]="comment.commenter?.photo" alt="" width="40" height="40" class="rounded-circle me-3" />
                            <div class="flex-fill">
                                <div class="d-flex align-items-center">
                                    <strong>{{ comment.commenter?.firstName + " " + comment.commenter?.lastName }}</strong>
                                </div>
                                <div>
                                    {{ comment.commentContent }}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- <img [src]="photoUrl" alt="" width="40" height="40" class="rounded-circle" />
                    <div class="flex-fill ps-2 ms-3">
                        <div class="position-relative d-flex align-items-center">
                            <strong>Ad min</strong>
                        </div>
                        <div class="position-relative d-flex align-items-center">
                            <p>If the sentence is the essential soul to express oneself in their own way, then the
                                paragraph is the virtual body of it. The Text Generator is an intelligent tool that
                                creates random text incorporated with random thoughts. This smart tool is a virtual
                                friend of yours that can talk to you in multidimensional thinking. It will provide you
                                with thoughts, concepts, and ideas of different topics that will not only assist you in
                                creating new knowledge but also enhance your brain function.
                            </p>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="d-flex my-1 mx-3">
                    <img src="/assets/images/bg.jpg" alt="" width="40" height="40" class="rounded-circle" />
                    <div class="flex-fill ps-2 ms-3">
                        <div class="position-relative d-flex align-items-center">
                            <strong>Ad min</strong>
                        </div>
                        <div class="position-relative d-flex align-items-center">
                            <p>If the sentence is the essential soul to express oneself in their own way, then the
                                paragraph is the virtual body of it. The Text Generator is an intelligent tool that
                                creates random text incorporated with random thoughts. This smart tool is a virtual
                                friend of yours that can talk to you in multidimensional thinking. It will provide you
                                with thoughts, concepts, and ideas of different topics that will not only assist you in
                                creating new knowledge but also enhance your brain function.
                            </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="modal fade" id="likesModal" tabindex="-1" aria-labelledby="likesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="likesModalLabel">Users who liked the post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Populate this div with the list of users who liked the post -->
                        <div *ngFor="let user of usersLiked" class="mb-2">{{ user }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>