<app-navbar></app-navbar>
<body>
    <div class="container">
        <h4 class="font-weight-bold py-3 mb-4 text-center">
            Search List
        </h4>
        <div class="row ng-scope justify-content-center">
            <div id="search-results" class="col-md-8 col-10 border rounded">
                <p class="search-results-count">Found {{users.length}} result/s</p>
    
                <div class="d-flex my-4 mx-3 align-items-center pb-3 border-bottom" *ngFor="let user of users">
                    <img src="/assets/images/bg.jpg" alt="" width="40" height="40"
                        class="rounded-circle"/>
                    <div class="position-relative d-flex align-items-center ms-3">
                        <a (click)="goToOtherProfile(user)" style="cursor: pointer;">
                            <strong>{{ user.firstName + " " + user.lastName }}</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>



        