<!-- Likes modal HTML structure -->
<div class="custom-modal">
    <div class="d-flex justify-content-between" style="border-bottom: 1px #dddddd solid;">
        <h5 class="pb-3">Users who liked the post</h5>
        <button class="ms-auto" type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div *ngIf="usersLiked.length === 0" class="m-3">
        <h5>No one has liked the post.</h5>
    </div>

    <div class="d-flex my-4 mx-3 align-items-center" *ngFor="let user of usersLiked">
        <img [src]="user.photoUrl || '/assets/images/bg.jpg'" alt="" width="40" height="40"
            class="rounded-circle" />
        <div class="position-relative d-flex align-items-center ms-3">
            <a (click)="goToOtherProfile(user)" style="cursor: pointer;">
                <strong>{{ user.firstName + " " + user.lastName }}</strong>
            </a>
        </div>
    </div>

</div>