.custom-modal {
    width: 100vw; 
    max-width: 450px;
    height: 90vh;
    padding: 20px; 
  }

  .close-icon {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    padding: 7px;
    color: black;
    font-size: 30px;
  }
