  body {
      background-color: #3373B0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15rem 0;
  }
  
  .card {
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: #0B385F;
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 40px;
  }
  
 
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    
  }
  .lock-icon {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
}

.passInput {
    margin-top: 15px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 15px;
    color: white;
    outline: none;
}

button {
    margin: 15px;
    width: 80%;
    background-color: #E7F1FB;
    color: #000000;
    padding: 10px;
    text-transform: uppercase;
}
button:hover {
  background-color: black;
}

.fas.fa-lock {
  color: white;
}

.text-decoration-underline {
    margin-right: 5px;
    margin-left: 5px;
}