<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
  <!-- Check if there are notifications -->
  <ng-container *ngIf="notifications.length > 0; else noNotifications">
    <!-- Loop through notifications -->
    <li *ngFor="let notification of notifications" [ngClass]="{ 'read-notification': notification.isRead }">
      <a class="dropdown-item">
        <div
          [ngStyle]="{ 'background-color': notification.isRead ? 'white' : 'lightgray' }">
          <ng-container *ngIf="notification.notificationType == 'like'">
            <p></p>
          </ng-container>
          
          <!-- <p *ngIf="notification.notificationType == 'comment'">{{notification.notificationType}}</p>
          <p *ngIf="notification.notificationType == 'friend-request'">{{notification.notificationType}}</p> -->
          <br>
          <!-- "Mark as Read" option for unread notifications -->
          <ng-container *ngIf="!notification.isRead">
            <span class="mark-as-read-btn"  (click)="markAsRead(notification)">
              Mark as Read
            </span>
          </ng-container>
          <ng-container>
            <span class="mark-as-unread-btn" *ngIf="notification.isRead" (click)="markAsUnread(notification)">
              Mark as Unread
            </span>
          </ng-container>
          
          <ng-container>
            <span class="delete-btn" (click)="deleteNotification(notification)">x</span>
          </ng-container>
          <!-- "x" button to delete the notification -->
          
        </div>
      </a>
      <hr />
    </li>
    <!-- "Delete All" option -->
    <li>
      <a class="dropdown-item delete-all-btn" (click)="deleteAllNotifications()">Delete All</a>
    </li>
  </ng-container>





  <!-- Display message if no notifications -->
  <ng-template #noNotifications>
    <li><a class="dropdown-item">No notifications to display.</a></li>
  </ng-template>
</ul>