

<div class="custom-modal">
    <div class="d-flex justify-content-between" style="border-bottom: 1px #dddddd solid;">
        <h5 class="pb-3">Comments</h5>
        <p class="close-icon ms-auto" (click)="closeModal()">&times;</p>
    </div>
    <div *ngIf="postComments.length === 0" class="m-3">
        <h5>No comments available.</h5>
    </div>
    <div *ngFor="let comment of postComments" class="m-3">
        <div class="d-flex align-items-start">
            <img [src]="comment.commenter!.photo!.photoImageURL" alt="" width="40" height="40" class="rounded-circle me-3" />
            <div class="flex-fill">
                <div class="d-flex align-items-center">
                    <strong>{{ comment.commenter?.firstName + " " + comment.commenter?.lastName }}</strong>
                </div>
                <div>
                    {{ comment.commentContent }}
                </div>
            </div>
        </div>
        
    </div>
</div>