<!-- Photo Album Grid -->
<body>
    <h1 class="pt-3 text-center">Album</h1>
    <div class="photo-grid p-4">
        
        <!-- Photo 1 -->
        <div class="photo-item" >
            <i class="plus-icon d-flex align-items-center justify-content-center" (click)="openModal()">+</i>
        </div>
        <!-- Photo 2 -->
        <div class="photo-item" *ngFor="let album of albums">
        <!-- <div class="photo-item" *ngFor="let album of albums; let i = index" > -->
            <a [routerLink]="['/album', album.id]">
                <img src="/assets/images/bg.jpg" alt="Album Photo">
                <p class="text-center">{{ album.albumName }}</p>
              </a>
            <!-- <img src="{{ thumbnail[i].photo ? thumbnail[i].photo : '/assets/images/bg.jpg' }}" alt="Photo 2"> -->
            <p class="text-center">{{ album.albumName }}</p>
        </div>
    </div>
</body>