<body>
    <app-navbar></app-navbar>
    
    <div class="row pe-5 ps-5 pt-5 justify-content-center gap-2 ">
        <div class="col-3 d-block p-3 custom-div d-none d-lg-flex d-flex flex-column align-items-center text-center">
            <img src="{{ photoUrl != '' ? photoUrl : '/assets/images/default_profile.png' }}" alt="Profile Photo" class="rounded-circle mb-3 mt-2" width="100" height="100">
            <h2>{{ miniProfileDTO.firstName }}</h2>
            <h2>{{ miniProfileDTO.lastName }}</h2>
            
            <h4 class="mt-4">{{ miniProfileDTO.friendCount ? miniProfileDTO.friendCount : 0 }}</h4>
            <p>Friends</p>
            <h5 class="text-primary pt-5" style="font-weight: bold;"><a (click)="goToProfile()" style="text-decoration: none; cursor: pointer;">View My Profile</a></h5>
        </div>

        <div class="col-12 col-lg-5 custom-div d-block">
            <div class="mt-5">
                <app-add-post [sentUserId]="userId"></app-add-post>
            </div>
        </div>        
        
        <div class="col-3 p-3 custom-div d-none d-lg-flex flex-column text-center">
            <div>
                <div class="d-flex">
                    <h6>Friend Requests</h6>   
                    <p [hidden]="friends.length == 0" class="ms-auto"><a (click)="openFriendRequestModal()" style="cursor: pointer;">View All</a></p>
                </div>
                <div *ngIf="friends.length === 0" class="m-3">
                    <h6>No friend requests to show.</h6>
                </div>
                <app-friend-request-individual *ngFor="let friend of friends" [friend]="friend" [deleteFriendFromView]="deleteFriendFromView.bind(this)"></app-friend-request-individual>
            </div>
        </div>
    </div>

    <!-- Add another div below every column -->
    <div class="row pb-5 pe-5 ps-5 pt-2 justify-content-center gap-2">
        <div class="col-3 d-none d-lg-block p-3 custom-div" style="align-self: flex-start;">
            <div class="d-flex">
              <h6>Album</h6>
              <p class="ms-auto"><a [routerLink]="['/profile']" [queryParams]="{ tab: 'albums',id: this.userId }" class="text-decoration-none text-dark">View All</a></p>
            </div>
            <div class="">
                <div class="photo-grid">
                    <div *ngIf="albums.length === 0" class="m-3">
                        <h5>No available album.</h5>
                    </div>
                    <div class="photo-item text-center m-2" *ngFor="let album of albums">
                        <a><img [src]="album.photoUrl" class="img-fluid"></a>
                        <p>{{ album.albumDTO?.albumName }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-5 d-block p-3 custom-div" style="align-self: flex-start;">
            <app-post-individual *ngFor="let post of posts" [post]="post"></app-post-individual>
        </div>
        <div class="col-3 d-block p-3 custom-div d-none d-lg-flex " style="align-self: flex-start;">

        </div>
    </div>
    <app-footer></app-footer>


</body>
